*{
    margin: 0;
    padding: 0;
    font-family: "Nimbus Sans L";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
/* home start */
#nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
#nleft{
    display: flex;
    gap: 20px;
}
#nav a {
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    color: #000;
}

#nav #centertag{
    font-size: 14px;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

/* home end  */

/* hero  start */
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15vw;
    padding: 0vw  10vw;
}
#vorobyeb{
    width: 10vw;
}
#vorobyeb p{
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 800;
    opacity: .5;
    margin: 10px 0;
}

#vorobyeb #vorobyedwrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15vw;
}
#vorobyedwrapper img {
    width: 100%;
    height: 100%;
   object-fit: cover;

}
#aquarium{
    position: relative;
    width: 30vw;
    min-height: 42vw;
}

#imgntext{
    width: fit-content;
    height: fit-content;
}

#aquarium img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#aquarium p{
    margin-top: 30px;
    font-size: 1.3vw;
    letter-spacing: -.07vw;
    line-height: 1.3;
    width: 40%;
}
#aquarium #headings{
    top: -22%;
    left: -20%;
    position: absolute;
}
#aquarium h1 {
    letter-spacing: -.4vw;
    line-height: 1;
    font-size: 6vw;
    font-weight: 400;
}
#visit{
    display: flex;
    gap: 10px;
    align-items: center;
}
#circlev{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    /* background-color: blueviolet; */
    border-radius: 50%;
    border: 1px solid #5e5e5e;
}
#circlev i{
    color: #5e5e5e;
}

#visit h3 {
    font-weight: 100;
    color: #5e5e5e;
}
/* hero end  */

/* motive start  */

#motive{
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    padding: 0vw  10vw;
}
#motive p{
    line-height: 1.7;
    letter-spacing: -.15vw;
    position: relative;
    right: 0;
    width: 85%;
    text-align: right;
    font-size: 2vw;
}
#motive span{
   display: inline-block;
   margin: 0 13PX;
   margin-bottom: -12.5px;
   border-radius: 100PX;
}

#onespan{
    width: 120PX;
   height: 50PX;
   background-image: url(./images/twospan.jpg);
   background-size: cover;
   background-position: 0% 60%;
}
#twospan{
    width: 130PX;
   height: 50PX;
   background-image: url(./images/onespan.jpg);
   background-size: cover;
   background-position: 0% 48%;
}
#threespan{
    width: 80PX;
   height: 50PX;
   background-image: url(./images/threespan.jpg);
   background-size: cover;
   background-position: 0% 60%;
}
/* motive end  */

/* picture start  */
#pictures{
    margin-top: 8vw;
    padding: 3vw;
    padding-left: 14vw;
    padding-right: 12vw;
    display: flex;
    justify-content: space-between;
    
}
#firstpic{
    width: 17vw;
}

#firstpic #picimg{
    width: 100%;
    height: 24vw;
    margin-bottom: 1vw;
}
#picimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#firstpic h1, #secondpic h1{
    letter-spacing: -.1vw;
    font-weight: 100;
    font-size: 2vw;
}
#firstpic p, #secondpic p{
    opacity: .8;
    font-size: 1vw;
    letter-spacing: -.07vw;
    line-height: 1;
    margin-top: 10px;
}

#secondpic{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 25vw;
}

#secondpic #picimg{
    width: 100%;
    height: 37vw;
    margin-bottom: 1vw;
}
#secondpic p{
    width: 50%;
    text-align: right;
}
/* picture end  */

/* banner start  */
#banner{
    display: flex;
    align-items: center;
    width: 80%;
    height: 50%;
}
#bimg{
    width: 65%;
    height: 60vh;
    background-color: red;
}
#bimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#btext{
    width: 35%;
    padding: 0 3vw ;
}
#btext h1 {
    font-size: 2.5vw;
    font-weight: 400;
    letter-spacing: -.1vw;
    line-height: 1;
}
#btext p{
    margin-top: 20px;
    width: 60%;
    font-size: 1vw;
}
/* banner end  */

/* footer start  */
#footer{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    margin-top: 20px;
}

#footer video{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

#ftext{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9999;
}
#ftext button{
    padding: .9vw 1.7vw;
    font-size: .6vw;
    text-transform: capitalize;
    margin-top: 10px;
   font-weight: 700;
   border-radius: 100px;
   background-color: #fff;
   border: 1px solid #696767;
   color: #6f6f6f;
}