*{
    margin: 0;
    padding: 0;
    font-family: "Nimbus Sans L";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
/* home start */
#nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 3vw 10vw;
}
#nleft{
    display: flex;
    gap: 20px;
}
#nav a {
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    color: #000;
}

#nav #centertag{
    font-size: 14px;
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

/* home end  */

/* hero  start */
#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 15vw;
    padding: 0vw  10vw;
}
#vorobyeb{
    width: 10vw;
}
#vorobyeb p{
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 800;
    opacity: .5;
    margin: 10px 0;
}

#vorobyeb #vorobyedwrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15vw;
}
#vorobyedwrapper img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 140%;
    height: 140%;
   object-fit: cover;

}
#aquarium{
    position: relative;
    width: 30vw;
    min-height: 42vw;
}

#imgntext{
    width: fit-content;
    height: fit-content;
}

#aquarium img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#aquarium p{
    margin-top: 30px;
    font-size: 1.3vw;
    letter-spacing: -.07vw;
    line-height: 1.3;
    width: 40%;
}
#aquarium #headings{
    top: -22%;
    left: -20%;
    position: absolute;
}
#aquarium h1 {
    letter-spacing: -.4vw;
    line-height: 1;
    font-size: 6vw;
    font-weight: 400;
}
#visit{
    display: flex;
    gap: 10px;
    align-items: center;
}
#circlev{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    /* background-color: blueviolet; */
    border-radius: 50%;
    border: 1px solid #5e5e5e;
}
#circlev i{
    color: #5e5e5e;
}

#visit h3 {
    font-weight: 100;
    color: #5e5e5e;
}
/* hero end  */

/* motive start  */

#motive{
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    padding: 0vw  10vw;
}
#motive p{
    position: relative;
    right: 0;
    width: 80%;
    text-align: right;
    font-size: 2vw;
}
#motive span{
   display: inline-block;
   margin: 0 13PX;
   margin-bottom: -12.5px;
   border-radius: 100PX;
   background-color: RED;
}

#onespan{
    width: 120PX;
   height: 50PX;
}
#twospan{
    width: 120PX;
   height: 50PX;
}
#threespan{
    width: 120PX;
   height: 50PX;
}